:root {
    --background-color: #000000;
    --text-color: #FFFCF4;
    --accent-color: #FFB000;
    --max-width: 1280px;
}

html {
    font-family: monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 2rem;
    padding: 0 1rem;

    max-width: var(--max-width);
}

nav {
    color: var(--accent-color);
    width: 100%;
    max-width: var(--max-width);
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0; /* Remove indentation */
    flex-grow: 1;
}

li {
    text-align: center;
    flex-grow: 1;
}

a {
    color: var(--accent-color);
    text-decoration-color: var(--accent-color);
    text-decoration-line: none;
}

a:hover {
    text-decoration: underline;
}

.project {
    border: 1px outset var(--accent-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem; /* Only bottom - h3 heading handles top spacing */
}

#headline {
    color: var(--accent-color);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 5rem 0;
}

#projects, #pull-requests, #about, #contact {
    display: grid;
    gap: 1rem;
}
